In [1]:
import pandas as pd
import numpy as np
import datetime

pd.options.display.max_columns = None

In [2]:
df = pd.read_excel("../Data/2021_Accidentalidad.xlsx")
df.head(3)

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga
0,2020S019534,2021-01-01,04:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 30 a 34 años,Mujer,14.0,Sin asistencia sanitaria,444976.463,4470508.259,N,NaN
1,2020S019534,2021-01-01,04:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 35 a 39 años,Hombre,7.0,Asistencia sanitaria sólo en el lugar del acci...,444976.463,4470508.259,N,NaN
2,2020S019534,2021-01-01,04:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,Desconocido,Desconocido,NaN,NaN,444976.463,4470508.259,N,NaN

# Exploración inicial de nuestros datos

# Tipado de datos

In [3]:
df.columns

Index(['num_expediente', 'fecha', 'hora', 'localizacion', 'numero',
       'cod_distrito', 'distrito', 'tipo_accidente', 'estado_meteorológico',
       'tipo_vehiculo', 'tipo_persona', 'rango_edad', 'sexo', 'cod_lesividad',
       'lesividad', 'coordenada_x_utm', 'coordenada_y_utm', 'positiva_alcohol',
       'positiva_droga'],
      dtype='object')

# Tamaño

In [4]:
df.shape

(41783, 19)

# Tipo de Datos

In [5]:
df.dtypes

num_expediente                  object
fecha                   datetime64[ns]
hora                            object
localizacion                    object
numero                          object
cod_distrito                   float64
distrito                        object
tipo_accidente                  object
estado_meteorológico            object
tipo_vehiculo                   object
tipo_persona                    object
rango_edad                      object
sexo                            object
cod_lesividad                  float64
lesividad                       object
coordenada_x_utm               float64
coordenada_y_utm               float64
positiva_alcohol                object
positiva_droga                 float64
dtype: object

# Hagamos una exploración de las variables

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41783 entries, 0 to 41782
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   num_expediente        41783 non-null  object
 1   fecha                 41783 non-null  datetime64[ns]
 2   hora                  41783 non-null  object
 3   localizacion          41783 non-null  object
 4   numero                41780 non-null  object
 5   cod_distrito          41780 non-null  float64
 6   distrito              41780 non-null  object
 7   tipo_accidente        41779 non-null  object
 8   estado_meteorológico  37355 non-null  object
 9   tipo_vehiculo         41729 non-null  object
 10  tipo_persona          41780 non-null  object
 11  rango_edad            41783 non-null  object
 12  sexo                  41783 non-null  object
 13  cod_lesividad         22819 non-null  float64
 14  lesividad             22819 non-null  object
 15  coordenada_x_utm      41771 non-null  float64
 16  coordenada_y_utm      41771 non-null  float64
 17  positiva_alcohol      41616 non-null  object
 18  positiva_droga        89 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(13)
memory usage: 6.1+ MB

# Principales estadísticos

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
cod_distrito,41780.0,9.887697e+00,5.609092,1.000,5.000,10.000,14.000,21.000
cod_lesividad,22819.0,9.996626e+00,4.741567,1.000,7.000,14.000,14.000,14.000
coordenada_x_utm,41771.0,4.420878e+05,3435.287540,429078.285,439904.907,441777.606,443996.421,454178.455
coordenada_y_utm,41771.0,4.474755e+06,3933.424201,4463455.554,4471735.123,4474815.854,4477463.978,4495115.074
positiva_droga,89.0,1.000000e+00,0.000000,1.000,1.000,1.000,1.000,1.000

In [8]:
df.describe(include = "object").T

                      count unique                       top   freq
num_expediente        41783  17952               2021S024511     18
hora                  41783   1106                  14:30:00    438
localizacion          41783  13500      AUTOV. M-30, +01100I    117
numero                41780    768                         1   3949
distrito              41780     21        PUENTE DE VALLECAS   3326
tipo_accidente        41779     13   Colisión fronto-lateral  10144
estado_meteorológico  37355      7                 Despejado  31896
tipo_vehiculo         41729     37                   Turismo  28835
tipo_persona          41780      3                 Conductor  33796
rango_edad            41783     18               Desconocido   4677
sexo                  41783      3                    Hombre  25161
lesividad             22819      8  Sin asistencia sanitaria  12632
positiva_alcohol      41616      2                         N  40336

# Duplicados

In [9]:
df.duplicated().sum()

1817

Eliminamos duplicados

In [10]:
df.drop_duplicates(inplace = True)

# Nulos

In [11]:
df.isnull().sum()

num_expediente              0
fecha                       0
hora                        0
localizacion                0
numero                      3
cod_distrito                3
distrito                    3
tipo_accidente              4
estado_meteorológico     4156
tipo_vehiculo              54
tipo_persona                3
rango_edad                  0
sexo                        0
cod_lesividad           17489
lesividad               17489
coordenada_x_utm           12
coordenada_y_utm           12
positiva_alcohol          166
positiva_droga          39877
dtype: int64

Más adelante trabajaremos en las transformaciones de los valores nulos de las columans que los presentan

In [12]:
(df.isnull().sum() / df.shape[0]) * 100

num_expediente           0.000000
fecha                    0.000000
hora                     0.000000
localizacion             0.000000
numero                   0.007506
cod_distrito             0.007506
distrito                 0.007506
tipo_accidente           0.010009
estado_meteorológico    10.398839
tipo_vehiculo            0.135115
tipo_persona             0.007506
rango_edad               0.000000
sexo                     0.000000
cod_lesividad           43.759696
lesividad               43.759696
coordenada_x_utm         0.030026
coordenada_y_utm         0.030026
positiva_alcohol         0.415353
positiva_droga          99.777311
dtype: float64