# Selenium

In [1]:
import requests
import pandas as pd
from time import sleep
import numpy as np


from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options




import warnings
warnings.filterwarnings('ignore')

In [2]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('--incognito')#incognito window

In [3]:
# iniciamos el driver
driver = webdriver.Chrome(ChromeDriverManager().install())
## accedemos a la pagina web

driver.get("https://www.wunderground.com/history")
driver.implicitly_wait(10)
# esperamos
driver.find_element_by_css_selector("#truste-consent-button").click()
# aceptamos las cookies

sleep(5)
# seleccionamos la casilla para poner la ciudad por la que queremos buscar
driver.find_element_by_css_selector("#historySearch").send_keys("Madrid, Madrid, Spain", Keys.TAB)
sleep(5)
# por lo que sea le tenemos que dar dos veces al botón de enviar
driver.find_element_by_xpath('//*[@id="dateSubmit"]').click()
sleep(2)
driver.find_element_by_xpath('//*[@id="dateSubmit"]').click()
sleep(5)

driver.find_element_by_xpath('//*[@id="inner-content"]/div[2]/div[1]/div[1]/div[1]/div/lib-link-selector/div/div/div/a[3]').click()
# seleccionamos que nos los valores medios del mes
resultado = driver.find_element_by_css_selector("#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - About to download new driver from https://chromedriver.storage.googleapis.com/102.0.5005.61/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/monicagoizuetabeltran/.wdm/drivers/chromedriver/mac64/102.0.5005.61]

In [4]:
url_list_1 = []

for month in range(1, 13):
    url_list_1.append(f"https://www.wunderground.com/history/monthly/LEMD/date/2021-{month}")

In [6]:
result_list_1 = []

for i in url_list_1: 
    driver.get(i)
    try:
        sleep(5)
        driver.find_element_by_css_selector('#truste-consent-button').click()
        sleep(2)
        resultado = driver.find_element_by_css_selector("#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text
        result_list_1.append(resultado)
    except: 
        sleep(5)
        resultado = driver.find_element_by_css_selector("#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text
        result_list_1.append(resultado)
driver.quit()

In [7]:
df_selenium = pd.DataFrame(result_list_1)
df_selenium

                                                    0
0   Time Temperature (°F) Dew Point (°F) Humidity ...
1   Time Temperature (°F) Dew Point (°F) Humidity ...
2   Time Temperature (°F) Dew Point (°F) Humidity ...
3   Time Temperature (°F) Dew Point (°F) Humidity ...
4   Time Temperature (°F) Dew Point (°F) Humidity ...
5   Time Temperature (°F) Dew Point (°F) Humidity ...
6   Time Temperature (°F) Dew Point (°F) Humidity ...
7   Time Temperature (°F) Dew Point (°F) Humidity ...
8   Time Temperature (°F) Dew Point (°F) Humidity ...
9   Time Temperature (°F) Dew Point (°F) Humidity ...
10  Time Temperature (°F) Dew Point (°F) Humidity ...
11  Time Temperature (°F) Dew Point (°F) Humidity ...

In [8]:
df_selenium.columns = ['Prueba']
df_selenium.head(1)

                                              Prueba
0  Time Temperature (°F) Dew Point (°F) Humidity ...

In [9]:
df_selenium.iloc[0][0]

'Time Temperature (°F) Dew Point (°F) Humidity (%) Wind Speed (mph) Pressure (in) Precipitation (in)\nJan\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n11\n12\n13\n14\n15\n16\n17\n18\n19\n20\n21\n22\n23\n24\n25\n26\n27\n28\n29\n30\n31\nMax Avg Min\n45 38.1 32\n43 33.2 27\n48 34.0 23\n45 36.4 28\n43 30.7 21\n45 30.1 19\n36 31.6 27\n34 29.6 23\n32 30.9 30\n39 33.7 25\n39 26.1 12\n32 18.7 9\n36 21.0 9\n39 23.4 12\n43 26.3 16\n41 28.0 16\n41 26.3 14\n48 30.3 18\n45 29.4 16\n41 34.0 27\n52 45.9 37\n52 47.6 43\n50 44.7 39\n55 51.1 48\n57 52.1 46\n59 50.7 43\n66 55.3 50\n54 51.3 48\n54 49.6 45\n57 51.7 46\n57 51.9 46\nMax Avg Min\n36 31.6 27\n30 23.2 19\n28 23.9 18\n28 24.9 21\n27 22.2 19\n28 22.0 18\n32 26.7 23\n32 27.1 19\n32 30.2 28\n32 29.2 23\n28 20.3 12\n19 14.0 5\n23 15.7 7\n23 17.8 9\n28 22.0 14\n30 22.5 14\n25 19.8 12\n34 25.2 16\n34 25.9 16\n41 33.3 25\n48 44.0 37\n48 39.9 34\n48 40.5 34\n50 38.1 34\n52 48.4 43\n54 48.7 43\n54 51.8 50\n52 49.8 48\n48 46.6 43\n50 41.5 30\n50 42.5 34\nMax Avg Min\n100 80.1 53\n93 68.1 45\n93 68.6 40\n93 64.8 42\n93 73.3 42\n93 73.8 43\n100 83.1 60\n100 91.0 80\n100 97.4 93\n100 84.7 70\n100 80.3 48\n100 83.0 60\n100 82.0 56\n100 80.8 52\n100 85.3 57\n100 81.7 60\n100 79.5 42\n100 83.0 57\n100 87.5 61\n100 97.1 87\n100 93.3 82\n94 75.3 54\n94 84.8 70\n94 62.0 44\n94 87.2 77\n100 92.5 77\n100 88.8 56\n100 95.5 88\n100 90.7 77\n94 70.7 38\n88 70.7 54\nMax Avg Min\n22 7.0 0\n15 4.8 0\n13 5.1 0\n15 7.1 1\n5 2.0 0\n7 2.6 0\n8 4.4 0\n12 6.7 0\n15 7.6 0\n10 4.0 0\n6 1.8 0\n3 1.4 0\n5 2.0 0\n5 1.9 0\n6 2.1 0\n7 1.6 0\n3 1.9 0\n5 2.0 0\n5 1.8 0\n8 2.9 0\n20 11.0 3\n31 16.3 8\n25 15.5 8\n21 12.8 5\n20 13.4 2\n10 2.8 0\n6 2.0 0\n6 2.3 0\n7 2.7 0\n29 15.5 5\n22 15.6 5\nMax Avg Min\n27.8 27.7 27.7\n27.9 27.8 27.8\n27.9 27.8 27.8\n27.8 27.7 27.7\n27.8 27.8 27.7\n27.8 27.8 27.8\n27.8 27.8 27.7\n27.8 27.7 27.6\n27.6 27.5 27.5\n27.9 27.8 27.6\n28.1 28.0 27.9\n28.3 28.2 28.1\n28.3 28.3 28.2\n28.3 28.2 28.1\n28.3 28.2 28.2\n28.3 28.2 28.2\n28.3 28.3 28.2\n28.3 28.2 28.2\n28.2 28.1 28.0\n28.0 27.8 27.7\n27.9 27.8 27.8\n27.9 27.7 27.5\n27.9 27.8 27.6\n27.9 27.8 27.6\n27.9 27.8 27.7\n28.1 28.1 27.9\n28.2 28.1 28.1\n28.2 28.1 28.1\n28.1 28.1 28.0\n28.0 27.8 27.8\n27.8 27.8 27.8\nTotal\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00'

In [10]:
x = df_selenium.iloc[0][0].split("\n")

In [11]:
x

['Time Temperature (°F) Dew Point (°F) Humidity (%) Wind Speed (mph) Pressure (in) Precipitation (in)',
 'Jan',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 'Max Avg Min',
 '45 38.1 32',
 '43 33.2 27',
 '48 34.0 23',
 '45 36.4 28',
 '43 30.7 21',
 '45 30.1 19',
 '36 31.6 27',
 '34 29.6 23',
 '32 30.9 30',
 '39 33.7 25',
 '39 26.1 12',
 '32 18.7 9',
 '36 21.0 9',
 '39 23.4 12',
 '43 26.3 16',
 '41 28.0 16',
 '41 26.3 14',
 '48 30.3 18',
 '45 29.4 16',
 '41 34.0 27',
 '52 45.9 37',
 '52 47.6 43',
 '50 44.7 39',
 '55 51.1 48',
 '57 52.1 46',
 '59 50.7 43',
 '66 55.3 50',
 '54 51.3 48',
 '54 49.6 45',
 '57 51.7 46',
 '57 51.9 46',
 'Max Avg Min',
 '36 31.6 27',
 '30 23.2 19',
 '28 23.9 18',
 '28 24.9 21',
 '27 22.2 19',
 '28 22.0 18',
 '32 26.7 23',
 '32 27.1 19',
 '32 30.2 28',
 '32 29.2 23',
 '28 20.3 12',
 '19 14.0 5',
 '23 15.7 7',
 '23 17.8 9',
 '28 22.0 14',
 '30 22.5 14',
 '25 19.8 12',
 '34 25.2 16',
 '34 25.9 16',
 '41 33.3 25',
 '48 44.0 37',
 '48 39.9 34',
 '48 40.5 34',
 '50 38.1 34',
 '52 48.4 43',
 '54 48.7 43',
 '54 51.8 50',
 '52 49.8 48',
 '48 46.6 43',
 '50 41.5 30',
 '50 42.5 34',
 'Max Avg Min',
 '100 80.1 53',
 '93 68.1 45',
 '93 68.6 40',
 '93 64.8 42',
 '93 73.3 42',
 '93 73.8 43',
 '100 83.1 60',
 '100 91.0 80',
 '100 97.4 93',
 '100 84.7 70',
 '100 80.3 48',
 '100 83.0 60',
 '100 82.0 56',
 '100 80.8 52',
 '100 85.3 57',
 '100 81.7 60',
 '100 79.5 42',
 '100 83.0 57',
 '100 87.5 61',
 '100 97.1 87',
 '100 93.3 82',
 '94 75.3 54',
 '94 84.8 70',
 '94 62.0 44',
 '94 87.2 77',
 '100 92.5 77',
 '100 88.8 56',
 '100 95.5 88',
 '100 90.7 77',
 '94 70.7 38',
 '88 70.7 54',
 'Max Avg Min',
 '22 7.0 0',
 '15 4.8 0',
 '13 5.1 0',
 '15 7.1 1',
 '5 2.0 0',
 '7 2.6 0',
 '8 4.4 0',
 '12 6.7 0',
 '15 7.6 0',
 '10 4.0 0',
 '6 1.8 0',
 '3 1.4 0',
 '5 2.0 0',
 '5 1.9 0',
 '6 2.1 0',
 '7 1.6 0',
 '3 1.9 0',
 '5 2.0 0',
 '5 1.8 0',
 '8 2.9 0',
 '20 11.0 3',
 '31 16.3 8',
 '25 15.5 8',
 '21 12.8 5',
 '20 13.4 2',
 '10 2.8 0',
 '6 2.0 0',
 '6 2.3 0',
 '7 2.7 0',
 '29 15.5 5',
 '22 15.6 5',
 'Max Avg Min',
 '27.8 27.7 27.7',
 '27.9 27.8 27.8',
 '27.9 27.8 27.8',
 '27.8 27.7 27.7',
 '27.8 27.8 27.7',
 '27.8 27.8 27.8',
 '27.8 27.8 27.7',
 '27.8 27.7 27.6',
 '27.6 27.5 27.5',
 '27.9 27.8 27.6',
 '28.1 28.0 27.9',
 '28.3 28.2 28.1',
 '28.3 28.3 28.2',
 '28.3 28.2 28.1',
 '28.3 28.2 28.2',
 '28.3 28.2 28.2',
 '28.3 28.3 28.2',
 '28.3 28.2 28.2',
 '28.2 28.1 28.0',
 '28.0 27.8 27.7',
 '27.9 27.8 27.8',
 '27.9 27.7 27.5',
 '27.9 27.8 27.6',
 '27.9 27.8 27.6',
 '27.9 27.8 27.7',
 '28.1 28.1 27.9',
 '28.2 28.1 28.1',
 '28.2 28.1 28.1',
 '28.1 28.1 28.0',
 '28.0 27.8 27.8',
 '27.8 27.8 27.8',
 'Total',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00']

In [12]:
pd.DataFrame(np.array(x[1:]).reshape(7, 32)).T

,0,1,2,3,4,5,6
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total
1,1,45 38.1 32,36 31.6 27,100 80.1 53,22 7.0 0,27.8 27.7 27.7,0.00
2,2,43 33.2 27,30 23.2 19,93 68.1 45,15 4.8 0,27.9 27.8 27.8,0.00
3,3,48 34.0 23,28 23.9 18,93 68.6 40,13 5.1 0,27.9 27.8 27.8,0.00
4,4,45 36.4 28,28 24.9 21,93 64.8 42,15 7.1 1,27.8 27.7 27.7,0.00
5,5,43 30.7 21,27 22.2 19,93 73.3 42,5 2.0 0,27.8 27.8 27.7,0.00
6,6,45 30.1 19,28 22.0 18,93 73.8 43,7 2.6 0,27.8 27.8 27.8,0.00
7,7,36 31.6 27,32 26.7 23,100 83.1 60,8 4.4 0,27.8 27.8 27.7,0.00
8,8,34 29.6 23,32 27.1 19,100 91.0 80,12 6.7 0,27.8 27.7 27.6,0.00
9,9,32 30.9 30,32 30.2 28,100 97.4 93,15 7.6 0,27.6 27.5 27.5,0.00
10,10,39 33.7 25,32 29.2 23,100 84.7 70,10 4.0 0,27.9 27.8 27.6,0.00
11,11,39 26.1 12,28 20.3 12,100 80.3 48,6 1.8 0,28.1 28.0 27.9,0.00
12,12,32 18.7 9,19 14.0 5,100 83.0 60,3 1.4 0,28.3 28.2 28.1,0.00
13,13,36 21.0 9,23 15.7 7,100 82.0 56,5 2.0 0,28.3 28.3 28.2,0.00
14,14,39 23.4 12,23 17.8 9,100 80.8 52,5 1.9 0,28.3 28.2 28.1,0.00
15,15,43 26.3 16,28 22.0 14,100 85.3 57,6 2.1 0,28.3 28.2 28.2,0.00
16,16,41 28.0 16,30 22.5 14,100 81.7 60,7 1.6 0,28.3 28.2 28.2,0.00
17,17,41 26.3 14,25 19.8 12,100 79.5 42,3 1.9 0,28.3 28.3 28.2,0.00
18,18,48 30.3 18,34 25.2 16,100 83.0 57,5 2.0 0,28.3 28.2 28.2,0.00
19,19,45 29.4 16,34 25.9 16,100 87.5 61,5 1.8 0,28.2 28.1 28.0,0.00
20,20,41 34.0 27,41 33.3 25,100 97.1 87,8 2.9 0,28.0 27.8 27.7,0.00
21,21,52 45.9 37,48 44.0 37,100 93.3 82,20 11.0 3,27.9 27.8 27.8,0.00
22,22,52 47.6 43,48 39.9 34,94 75.3 54,31 16.3 8,27.9 27.7 27.5,0.00
23,23,50 44.7 39,48 40.5 34,94 84.8 70,25 15.5 8,27.9 27.8 27.6,0.00
24,24,55 51.1 48,50 38.1 34,94 62.0 44,21 12.8 5,27.9 27.8 27.6,0.00
25,25,57 52.1 46,52 48.4 43,94 87.2 77,20 13.4 2,27.9 27.8 27.7,0.00
26,26,59 50.7 43,54 48.7 43,100 92.5 77,10 2.8 0,28.1 28.1 27.9,0.00
27,27,66 55.3 50,54 51.8 50,100 88.8 56,6 2.0 0,28.2 28.1 28.1,0.00
28,28,54 51.3 48,52 49.8 48,100 95.5 88,6 2.3 0,28.2 28.1 28.1,0.00
29,29,54 49.6 45,48 46.6 43,100 90.7 77,7 2.7 0,28.1 28.1 28.0,0.00
30,30,57 51.7 46,50 41.5 30,94 70.7 38,29 15.5 5,28.0 27.8 27.8,0.00
31,31,57 51.9 46,50 42.5 34,88 70.7 54,22 15.6 5,27.8 27.8 27.8,0.00

In [13]:
x[1:].index("Max Avg Min")

32

In [14]:
x[1]

'Jan'

In [15]:
# hacemos un dataframe gordote
df_clima = pd.DataFrame()

for i in range(len(df_selenium)):
    x = list(df_selenium.iloc[i][0].split("\n"))
    
    mi_ind = x[1:].index("Max Avg Min")
    print(mi_ind)
    
    df_solo =  pd.DataFrame(np.array(x[1:]).reshape(7, mi_ind)).T
    
    df_solo.columns = ["Time", "Temperature (° F)", "Dew Point (° F)", "Humidity (%)", "Wind Speed (mph)", "Pressure (Hg)", "Precipitation (in)"]
    df_solo["month"] = x[1]
    df_clima = pd.concat([df_clima, df_solo], axis = 0)

32
29
32
31
32
31
32
32
31
32
31
32

In [16]:
df_clima.head(400)

,Time,Temperature (° F),Dew Point (° F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),month
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total,Jan
1,1,45 38.1 32,36 31.6 27,100 80.1 53,22 7.0 0,27.8 27.7 27.7,0.00,Jan
2,2,43 33.2 27,30 23.2 19,93 68.1 45,15 4.8 0,27.9 27.8 27.8,0.00,Jan
3,3,48 34.0 23,28 23.9 18,93 68.6 40,13 5.1 0,27.9 27.8 27.8,0.00,Jan
4,4,45 36.4 28,28 24.9 21,93 64.8 42,15 7.1 1,27.8 27.7 27.7,0.00,Jan
...,...,...,...,...,...,...,...,...
27,27,61 55.4 50,54 49.5 45,100 81.1 63,18 14.0 7,28.0 27.9 27.8,0.00,Dec
28,28,61 53.1 46,48 46.8 45,93 80.8 63,15 9.3 3,28.1 28.1 28.0,0.00,Dec
29,29,57 47.7 41,46 44.4 41,100 88.1 63,7 2.7 0,28.2 28.2 28.1,0.00,Dec
30,30,63 44.8 34,50 41.1 34,100 88.2 59,6 2.3 0,28.2 28.2 28.1,0.00,Dec
31,31,64 44.8 34,48 39.6 32,100 84.2 45,5 2.4 0,28.3 28.2 28.2,0.00,Dec

In [17]:
df_clima[["Tmax", "Avg", "Tmin"]] = df_clima["Temperature (° F)"].str.split(" ", expand = True)

In [18]:
def separar_columnas(lista, columna):
    df_clima[lista] = df_clima[columna].str.split(" ", expand = True)
    return df_clima[columna].str.split(" ", expand = True)

In [19]:
columnas = df_clima.columns[1:6]
columnas

Index(['Temperature (° F)', 'Dew Point (° F)', 'Humidity (%)',
       'Wind Speed (mph)', 'Pressure (Hg)'],
      dtype='object')

In [20]:
listas = [["Tmax", "Avg", "Tmin"], ["Dmax", "DAvg", "Dmin"], ["Hmax", "HAvg", "Hmin"], ["Wmax", "WAvg", "Wmin"], 
         ["Pmax", "PAvg", "Pmin"]]

for c, l in zip(listas, columnas):
    print(separar_columnas(c,l))

      0     1    2
0   Max   Avg  Min
1    45  38.1   32
2    43  33.2   27
3    48  34.0   23
4    45  36.4   28
..  ...   ...  ...
27   61  55.4   50
28   61  53.1   46
29   57  47.7   41
30   63  44.8   34
31   64  44.8   34

[377 rows x 3 columns]
      0     1    2
0   Max   Avg  Min
1    36  31.6   27
2    30  23.2   19
3    28  23.9   18
4    28  24.9   21
..  ...   ...  ...
27   54  49.5   45
28   48  46.8   45
29   46  44.4   41
30   50  41.1   34
31   48  39.6   32

[377 rows x 3 columns]
      0     1    2
0   Max   Avg  Min
1   100  80.1   53
2    93  68.1   45
3    93  68.6   40
4    93  64.8   42
..  ...   ...  ...
27  100  81.1   63
28   93  80.8   63
29  100  88.1   63
30  100  88.2   59
31  100  84.2   45

[377 rows x 3 columns]
      0     1    2
0   Max   Avg  Min
1    22   7.0    0
2    15   4.8    0
3    13   5.1    0
4    15   7.1    1
..  ...   ...  ...
27   18  14.0    7
28   15   9.3    3
29    7   2.7    0
30    6   2.3    0
31    5   2.4    0

[377 rows x 3 columns]
       0     1     2
0    Max   Avg   Min
1   27.8  27.7  27.7
2   27.9  27.8  27.8
3   27.9  27.8  27.8
4   27.8  27.7  27.7
..   ...   ...   ...
27  28.0  27.9  27.8
28  28.1  28.1  28.0
29  28.2  28.2  28.1
30  28.2  28.2  28.1
31  28.3  28.2  28.2

[377 rows x 3 columns]

In [21]:
df_clima.head(2)

,Time,Temperature (° F),Dew Point (° F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),month,Tmax,Avg,...,Dmin,Hmax,HAvg,Hmin,Wmax,WAvg,Wmin,Pmax,PAvg,Pmin
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total,Jan,Max,Avg,...,Min,Max,Avg,Min,Max,Avg,Min,Max,Avg,Min
1,1,45 38.1 32,36 31.6 27,100 80.1 53,22 7.0 0,27.8 27.7 27.7,0.00,Jan,45,38.1,...,27,100,80.1,53,22,7.0,0,27.8,27.7,27.7

In [22]:
df_clima.drop([0], axis = 0, inplace = True)

In [23]:
df_clima.head(2)

,Time,Temperature (° F),Dew Point (° F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),month,Tmax,Avg,...,Dmin,Hmax,HAvg,Hmin,Wmax,WAvg,Wmin,Pmax,PAvg,Pmin
1,1,45 38.1 32,36 31.6 27,100 80.1 53,22 7.0 0,27.8 27.7 27.7,0.00,Jan,45,38.1,...,27,100,80.1,53,22,7.0,0,27.8,27.7,27.7
2,2,43 33.2 27,30 23.2 19,93 68.1 45,15 4.8 0,27.9 27.8 27.8,0.00,Jan,43,33.2,...,19,93,68.1,45,15,4.8,0,27.9,27.8,27.8

In [24]:
df_clima.columns

Index(['Time', 'Temperature (° F)', 'Dew Point (° F)', 'Humidity (%)',
       'Wind Speed (mph)', 'Pressure (Hg)', 'Precipitation (in)', 'month',
       'Tmax', 'Avg', 'Tmin', 'Dmax', 'DAvg', 'Dmin', 'Hmax', 'HAvg', 'Hmin',
       'Wmax', 'WAvg', 'Wmin', 'Pmax', 'PAvg', 'Pmin'],
      dtype='object')

In [25]:
df_clima.columns = ['dia', 'Temperature (° F)', 'Dew Point (° F)', 'Humidity (%)',
       'Wind Speed (mph)', 'Pressure (Hg)', 'precipitacion(in)', 'month',
       'temperatura(°C)_max', 'temperatura(°C)_avg', 'temperatura(°C)_min', 'pundo_de_condensacion(°C)_max', 'pundo_de_condensacion(°C)_avg', 'pundo_de_condensacion(°C)_min', 'humedad(%)_max', 'humedad(%)_avg', 'humedad(%)_min',
       'vel_viento_max', 'vel_viento_avg', 'vel_viento_min', 'presion(Hg)_max', 'presion(Hg)_avg', 'presion(Hg)_min']
df_clima.head(1)

,dia,Temperature (° F),Dew Point (° F),Humidity (%),Wind Speed (mph),Pressure (Hg),precipitacion(in),month,temperatura(°C)_max,temperatura(°C)_avg,...,pundo_de_condensacion(°C)_min,humedad(%)_max,humedad(%)_avg,humedad(%)_min,vel_viento_max,vel_viento_avg,vel_viento_min,presion(Hg)_max,presion(Hg)_avg,presion(Hg)_min
1,1,45 38.1 32,36 31.6 27,100 80.1 53,22 7.0 0,27.8 27.7 27.7,0.00,Jan,45,38.1,...,27,100,80.1,53,22,7.0,0,27.8,27.7,27.7

In [26]:
eliminar = ['Temperature (° F)', 'Dew Point (° F)', 'Humidity (%)',
       'Wind Speed (mph)', 'Pressure (Hg)']

In [27]:
df_clima = df_clima.drop(eliminar, axis = 1)

In [28]:
df_clima.head()

,dia,precipitacion(in),month,temperatura(°C)_max,temperatura(°C)_avg,temperatura(°C)_min,pundo_de_condensacion(°C)_max,pundo_de_condensacion(°C)_avg,pundo_de_condensacion(°C)_min,humedad(%)_max,humedad(%)_avg,humedad(%)_min,vel_viento_max,vel_viento_avg,vel_viento_min,presion(Hg)_max,presion(Hg)_avg,presion(Hg)_min
1,1,0.00,Jan,45,38.1,32,36,31.6,27,100,80.1,53,22,7.0,0,27.8,27.7,27.7
2,2,0.00,Jan,43,33.2,27,30,23.2,19,93,68.1,45,15,4.8,0,27.9,27.8,27.8
3,3,0.00,Jan,48,34.0,23,28,23.9,18,93,68.6,40,13,5.1,0,27.9,27.8,27.8
4,4,0.00,Jan,45,36.4,28,28,24.9,21,93,64.8,42,15,7.1,1,27.8,27.7,27.7
5,5,0.00,Jan,43,30.7,21,27,22.2,19,93,73.3,42,5,2.0,0,27.8,27.8,27.7

In [29]:
df_clima.dtypes

dia                              object
precipitacion(in)                object
month                            object
temperatura(°C)_max              object
temperatura(°C)_avg              object
temperatura(°C)_min              object
pundo_de_condensacion(°C)_max    object
pundo_de_condensacion(°C)_avg    object
pundo_de_condensacion(°C)_min    object
humedad(%)_max                   object
humedad(%)_avg                   object
humedad(%)_min                   object
vel_viento_max                   object
vel_viento_avg                   object
vel_viento_min                   object
presion(Hg)_max                  object
presion(Hg)_avg                  object
presion(Hg)_min                  object
dtype: object

In [30]:
df_clima["mes"] = df_clima['month'].map({'Jan':1,
                             'Feb':2,
                             'Mar':3,
                            'Apr':4,
                            'May':5,
                            'Jun':6,
                             'Jul':7,
                             'Aug':8,
                            'Sep':9,
                             'Oct':10,
                             'Nov':11,
                            'Dec':12},
                             na_action=None)

In [31]:
year = pd.datetime.now().year
df_clima['fecha']=pd.to_datetime({'year': 2021,
                           'month': df_clima["mes"],
                           'day': df_clima['dia']
                           })

In [32]:
df_clima['fecha'] = pd.to_datetime(df_clima['fecha'])

In [33]:
df_clima.head()

,dia,precipitacion(in),month,temperatura(°C)_max,temperatura(°C)_avg,temperatura(°C)_min,pundo_de_condensacion(°C)_max,pundo_de_condensacion(°C)_avg,pundo_de_condensacion(°C)_min,humedad(%)_max,humedad(%)_avg,humedad(%)_min,vel_viento_max,vel_viento_avg,vel_viento_min,presion(Hg)_max,presion(Hg)_avg,presion(Hg)_min,mes,fecha
1,1,0.00,Jan,45,38.1,32,36,31.6,27,100,80.1,53,22,7.0,0,27.8,27.7,27.7,1,2021-01-01
2,2,0.00,Jan,43,33.2,27,30,23.2,19,93,68.1,45,15,4.8,0,27.9,27.8,27.8,1,2021-01-02
3,3,0.00,Jan,48,34.0,23,28,23.9,18,93,68.6,40,13,5.1,0,27.9,27.8,27.8,1,2021-01-03
4,4,0.00,Jan,45,36.4,28,28,24.9,21,93,64.8,42,15,7.1,1,27.8,27.7,27.7,1,2021-01-04
5,5,0.00,Jan,43,30.7,21,27,22.2,19,93,73.3,42,5,2.0,0,27.8,27.8,27.7,1,2021-01-05

In [34]:
df_clima['temperatura(°C)_max'] = pd.to_numeric(df_clima["temperatura(°C)_max"], errors='coerce').astype('float64')
df_clima['temperatura(°C)_avg'] = pd.to_numeric(df_clima["temperatura(°C)_avg"], errors='coerce').astype('float64')
df_clima['temperatura(°C)_min'] = pd.to_numeric(df_clima["temperatura(°C)_max"], errors='coerce').astype('float64')
df_clima['pundo_de_condensacion(°C)_max'] = pd.to_numeric(df_clima["pundo_de_condensacion(°C)_max"], errors='coerce').astype('float64')
df_clima['pundo_de_condensacion(°C)_avg'] = pd.to_numeric(df_clima["pundo_de_condensacion(°C)_avg"], errors='coerce').astype('float64')
df_clima['pundo_de_condensacion(°C)_min'] = pd.to_numeric(df_clima["pundo_de_condensacion(°C)_min"], errors='coerce').astype('float64')
df_clima['humedad(%)_max'] = pd.to_numeric(df_clima["humedad(%)_max"], errors='coerce').astype('float64')
df_clima['humedad(%)_avg'] = pd.to_numeric(df_clima["humedad(%)_avg"], errors='coerce').astype('float64')
df_clima['humedad(%)_min'] = pd.to_numeric(df_clima["humedad(%)_min"], errors='coerce').astype('float64')
df_clima['presion(Hg)_max'] = pd.to_numeric(df_clima["presion(Hg)_max"], errors='coerce').astype('float64')
df_clima['presion(Hg)_avg'] = pd.to_numeric(df_clima["presion(Hg)_avg"], errors='coerce').astype('float64')
df_clima['presion(Hg)_min'] = pd.to_numeric(df_clima["presion(Hg)_min"], errors='coerce').astype('float64')
df_clima['vel_viento_max'] = pd.to_numeric(df_clima["vel_viento_max"], errors='coerce').astype('float64')
df_clima['vel_viento_avg'] = pd.to_numeric(df_clima["vel_viento_avg"], errors='coerce').astype('float64')
df_clima['vel_viento_min'] = pd.to_numeric(df_clima["vel_viento_min"], errors='coerce').astype('float64')

In [35]:
df_clima.dtypes

dia                                      object
precipitacion(in)                        object
month                                    object
temperatura(°C)_max                     float64
temperatura(°C)_avg                     float64
temperatura(°C)_min                     float64
pundo_de_condensacion(°C)_max           float64
pundo_de_condensacion(°C)_avg           float64
pundo_de_condensacion(°C)_min           float64
humedad(%)_max                          float64
humedad(%)_avg                          float64
humedad(%)_min                          float64
vel_viento_max                          float64
vel_viento_avg                          float64
vel_viento_min                          float64
presion(Hg)_max                         float64
presion(Hg)_avg                         float64
presion(Hg)_min                         float64
mes                                       int64
fecha                            datetime64[ns]
dtype: object

In [36]:
df_clima['temperatura(°C)_max'] = round(((df_clima['temperatura(°C)_max'] - 32) *5/9),1)
df_clima['temperatura(°C)_avg'] = round(((df_clima['temperatura(°C)_avg'] - 32) *5/9),1)
df_clima['temperatura(°C)_min'] = round(((df_clima['temperatura(°C)_min'] - 32) *5/9),1)
df_clima['pundo_de_condensacion(°C)_max'] = round(((df_clima['pundo_de_condensacion(°C)_max'] - 32) *5/9),1)
df_clima['pundo_de_condensacion(°C)_avg'] = round(((df_clima['pundo_de_condensacion(°C)_avg'] - 32) *5/9),1)
df_clima['pundo_de_condensacion(°C)_min'] = round(((df_clima['pundo_de_condensacion(°C)_min'] - 32) *5/9),1)

In [37]:
df_clima.head()

,dia,precipitacion(in),month,temperatura(°C)_max,temperatura(°C)_avg,temperatura(°C)_min,pundo_de_condensacion(°C)_max,pundo_de_condensacion(°C)_avg,pundo_de_condensacion(°C)_min,humedad(%)_max,humedad(%)_avg,humedad(%)_min,vel_viento_max,vel_viento_avg,vel_viento_min,presion(Hg)_max,presion(Hg)_avg,presion(Hg)_min,mes,fecha
1,1,0.00,Jan,7.2,3.4,7.2,2.2,-0.2,-2.8,100.0,80.1,53.0,22.0,7.0,0.0,27.8,27.7,27.7,1,2021-01-01
2,2,0.00,Jan,6.1,0.7,6.1,-1.1,-4.9,-7.2,93.0,68.1,45.0,15.0,4.8,0.0,27.9,27.8,27.8,1,2021-01-02
3,3,0.00,Jan,8.9,1.1,8.9,-2.2,-4.5,-7.8,93.0,68.6,40.0,13.0,5.1,0.0,27.9,27.8,27.8,1,2021-01-03
4,4,0.00,Jan,7.2,2.4,7.2,-2.2,-3.9,-6.1,93.0,64.8,42.0,15.0,7.1,1.0,27.8,27.7,27.7,1,2021-01-04
5,5,0.00,Jan,6.1,-0.7,6.1,-2.8,-5.4,-7.2,93.0,73.3,42.0,5.0,2.0,0.0,27.8,27.8,27.7,1,2021-01-05

# Importamos nuestro CSV limpio y lo enriquecemos con Selenium

In [38]:
df = pd.read_excel("../Data/df_limpio_transformado_1.xlsx")
df.head(2)

FileNotFoundError: [Errno 2] No such file or directory: '../Data/df_limpio_transformado_1.xlsx'

In [ ]:
mergeado_inner = df.merge(df_clima, on='fecha')
mergeado_inner.head()

In [ ]:
mergeado_inner.columns

In [ ]:
eliminar1 = ['Unnamed: 0', 'coordenada_x_utm', 'coordenada_y_utm',
       'precipitacion(in)', 'localizacion', 'numero', 'cod_distrito', 'dia']

In [ ]:
mergeado_inner = mergeado_inner.drop(eliminar1, axis = 1)

In [ ]:
mergeado_inner.to_excel("df_mergeado.xlsx")

# Importamos CSV con datos de los Distritos

In [ ]:
df_d = pd.read_excel("distritos.xlsx")
df_d.head(2)

In [ ]:
mergeado_inner1 = mergeado_inner.merge(df_d, on='distrito')
mergeado_inner1.head()

In [ ]:
mergeado_inner1.to_excel("../Data/df_mergeado1.xlsx")